
.auctions-body{
    box-sizing: border-box;
    height: 100vh;
}


hr.style1{
    height: 10px;
	border: 0;
	box-shadow: 0 5px 5px -5px #201f1f inset;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.auctions_body-main-header{
    font-family: var(--font-family);
    margin-top: 2%;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: center;
    /*color: #fff;*/
    color: #81AFDD;
}

.auction_body-ul{
    flex:2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.auctions-body ul li{
    margin-top: 2%;
    list-style: none;
}

.auctions-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

.auctions-link:hover{
    color: #81AFDD;
}

.auctions_card-body{
    color: #81AFDD;
    text-align: center;
}

.auctions-li{
    list-style: none; 
    margin-bottom: 2%;
}
.auctions-input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 10px;
    color: gray;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}


.auction_body-btn{
    display: inline;
    width: 100%;
    border-radius: 10px;
    margin-right: 2%;
    box-sizing: border-box;
    font-size: 16px;
    justify-content: center;
    padding:1rem 1.75rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    color: #FFFFFF;
}

.button{
    right: 10%;
    outline: red;

}
