

.my_auctions_boddy{
    height: 100vh;
}

.card_display{
    flex:2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: 8%;
}

.my_auctions_header{
    font-size: 50px;
    margin-top: 2%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #81AFDD;
    font-weight: bold;
}  

.my_actions_pagination{
    margin-left: 47%;
    margin-bottom: 2%;
    margin-top: 3%;
    list-style: none; 
}

.my_auctions_button{
    display: inline;
    border-radius: 0.5rem;
    margin-right: 2%;
    margin-left: 45%;
    box-sizing: border-box;
    font-size: 16px;
    justify-content: center;
    padding:1rem 1.75rem;
    text-decoration: none;
    width: 7%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    color: #FFFFFF;
}

.my_auctions_button:hover{
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 100%);
    color: #37AEE2;
}
