

.my_auctions_boddy{
    height: 100vh;
}

.card_display{
    flex:2;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: 8%;
}

.my_auctions_header{
    font-size: 50px;
    margin-top: 2%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #81AFDD;
    font-weight: bold;
}  

.my_actions_pagination{
    margin-left: 47%;
    margin-bottom: 2%;
    margin-top: 3%;
    list-style: none; 
}


